<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <h3 class="footer-block__title">Восстановление данных</h3>
      <nav class="footer-menu">
        <a href="#" class="footer-menu__item">Со всех устройств</a>
        <a href="#" class="footer-menu__item">Все файловые системы</a>
        <a href="#" class="footer-menu__item">Все виды данных</a>
        <a href="#" class="footer-menu__item">После любого происшествие</a>
        <a href="#" class="footer-menu__item">Любых производителей</a>
      </nav>
    </div>
    <div class="footer-block">
      <h3 class="footer-block__title">Клиентам</h3>
      <nav class="footer-menu">
        <a href="#" class="footer-menu__item">Стоимость и способы оплаты</a>
        <a href="#" class="footer-menu__item">Гарантия и конфиденциальность</a>
        <a href="#" class="footer-menu__item">Как забрать данные?</a>
        <a href="#" class="footer-menu__item footer-menu__item_accent">Заказать восстановление</a>
      </nav>
    </div>
    <div class="footer-block">
      <h3 class="footer-block__title">Консультации</h3>
      <p class="footer-block__subtitle">Мы проводим консультации по восстановлению данных и ремонту устройств хранения абсолютно бесплатно</p>
      <a href="#" class="footer-block__action-button">Получить консультацию</a>
    </div>
    <div class="footer-block organization">
      <h3 class="footer-block__title">Back Way</h3>
      <!-- <span class="footer-block__subtitle">Возвращаем прошлое</span> -->
      <p class="organization__description">Лаборатория по восстановлению данных</p>
      <address class="organization__address">
        <span class="organization__city"><%= site.data.company.city %></span>
        <span class="organization__street"><%= site.data.company.address %></span>
      </address>
      <span class="organization__phone"><%= site.data.company.phone %></span>
      <a href="mailto:<%= site.data.company.email %>" class="organization__email"><%= site.data.company.email %></a>
    </div>
  </div>   
  


  <div class="footer__bottom">
    <div class="container">
      <div class="copyright">Copyright © 2018 BACK WAY</div>
      <nav class="legal-menu">
        <a href="#" class="legal-menu__item">Соглашение о пользовании сайтом</a>
        <a href="#" class="legal-menu__item">Политика конфиденциальности</a>
      </nav>
    </div>
  </div>
</footer>