<div class="relink">
  <nav class="relink__nav nav" id="nav-tab" role="tablist">
    <a class="relink__nav-item nav-item active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">Причины потери данных</a>
    <a class="relink__nav-item nav-item" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
      aria-selected="false">Типы данных</a>
    <a class="relink__nav-item nav-item" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">Операционные системы</a>
  </nav>
  <div class="relink__tab-content tab-content" id="nav-tabContent">
    <div class="relink__tab-pane tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="relink__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In molestias suscipit adipisci consequatur laudantium assumenda
        odit inventore, nemo, ipsa earum reiciendis mollitia impedit, quaerat fugiat!</div>
      <ul class="relink-list">
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после форматирования в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "format", cssSelector: "relink-list__icon"}) %>
              <span>Форматирование</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после удаления в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "trash", cssSelector: "relink-list__icon"}) %>
              <span>Удаление</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после вирусов в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "bug", cssSelector: "relink-list__icon"}) %>
              <span>Вирусы</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после шифрования в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "crypt", cssSelector: "relink-list__icon"}) %>
              <span>Шифрование</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после падения в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "down", cssSelector: "relink-list__icon"}) %>
              <span>Падение</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после пожара в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "fire", cssSelector: "relink-list__icon"}) %>
              <span>Пожар</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после затопления в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "water", cssSelector: "relink-list__icon"}) %>
              <span>Затопление</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных после перезаписи в Москве" />
          <a href="/" class="relink-list__link" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "replace", cssSelector: "relink-list__icon"}) %>
              <span>Перезапись</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="relink__tab-pane tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="relink__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda deserunt laborum laboriosam magnam excepturi porro
        odio ipsa aperiam ducimus nemo necessitatibus unde reiciendis dolores nobis maiores culpa doloribus, pariatur ipsum
        non ex ullam recusandae nam.</div>
      <ul class="relink-list">
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление фотографий в Москве" />
          <a class="relink-list__link" href="/" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "photo", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Фотографии</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление файлов документов в Москве" />
          <a class="relink-list__link" href="/">
            <%- partial('common/svg-sprite-element', {icon: "docs", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Документы</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление баз данных в Москве" />
          <a class="relink-list__link" href="/">
            <%- partial('common/svg-sprite-element', {icon: "data", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Базы данных</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление музыки в Москве" />
          <a class="relink-list__link" href="/">
            <%- partial('common/svg-sprite-element', {icon: "music", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Музыка</span>
          </a>
        </li>
        <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление видео в Москве" />
          <a class="relink-list__link" href="/">
            <%- partial('common/svg-sprite-element', {icon: "video", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Видео</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="relink__tab-pane tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" itemscope
      itemtype="http://schema.org/ListItem">
      <div class="relink__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus libero eos atque error voluptatibus non, sequi
        sint est laboriosam similique nihil nostrum.</div>
      <link href="http://moscow.back-way.ru/recovery/system/" itemprop="url" />
      <meta itemprop="name" content="Операционные системы, данные которых мы восстанавливаем в Москве" />
      <div class="relink__list">
        <div class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных операционных систем компании Apple в Москве" />
          <a class="relink-list__link" href="/" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "apple", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Apple</span>
          </a>
        </div>
        <div class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных операционных систем семейства Windows в Москве" />
          <a class="relink-list__link" href="/" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "windows", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Windows</span>
          </a>
        </div>
        <div class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных операционных систем семейства Linux в Москве" />
          <a class="relink-list__link" href="/" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "linux", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Linux</span>
          </a>
        </div>
        <div class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="Восстановление данных операционных систем семейства Android в Москве" />
          <a class="relink-list__link" href="/" itemprop="url">
            <%- partial('common/svg-sprite-element', {icon: "android", cssSelector: "relink-list__icon"}) %>
              <span class="relink-list__title">Android</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>